.contact-form {
  -webkit-animation: fadeInFromBack 3s;
          animation: fadeInFromBack 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--LIGHTER-BLUE-TRANS);
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 4.4rem 0;
  width: 66rem;
  margin: 6.6rem auto 0 auto;
}
.contact-form .contact-heading {
  font-size: 3.2rem;
  color: var(--PURE-WHITE);
}
.contact-form .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact-form .input-field .error {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
  height: 3.2rem;
  background-color: rgba(178, 34, 34, 0.5);
  padding: 0.5rem 2rem;
  border: 0.1rem solid firebrick;
  color: var(--PURE-WHITE);
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.1s;
}
.contact-form label {
  display: flex;
  font-size: 1.6rem;
  transform: translateY(-13.5rem) translateX(1rem);
  transform-origin: 0 0;
  color: var(--DARK-GREY);
  transition: all 0.3s;
  font-weight: 500;
  pointer-events: none;
  height: 2rem;
  position: absolute;
}
.contact-form label:nth-of-type(1) {
  top: 14.4rem;
}
.contact-form input {
  margin-bottom: 0.8rem;
  width: 40rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  border-style: none none solid none;
  border-color: var(--DARK-GREY);
  background-color: var(--LIGHT-BLUE-TRANS);
  outline: none;
  transition: all 0.5s;
  color: var(--WHITE);
  position: relative;
}
.contact-form input:focus {
  border-color: var(--DARKER-BLUE);
}
.contact-form input::-moz-placeholder {
  color: transparent;
}
.contact-form input:-ms-input-placeholder {
  color: transparent;
}
.contact-form input::placeholder {
  color: transparent;
}
.contact-form input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-16.5rem) translateX(0rem);
}
.contact-form input:not(:-ms-input-placeholder) + label {
  transform: translateY(-16.5rem) translateX(0rem);
}
.contact-form input:focus + label,
.contact-form input:not(:placeholder-shown) + label {
  transform: translateY(-16.5rem) translateX(0rem);
}
.contact-form .text-field {
  width: 40rem;
  height: 12rem;
  border-radius: 0.2rem;
  border-style: none none solid none;
  border-color: var(--DARKER-BLUE);
  background-color: var(--LIGHT-BLUE-TRANS);
  position: relative;
  outline: none;
  transition: all 0.5s;
  padding: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.contact-form .text-field:focus {
  border-color: var(--DARKER-BLUE);
}
.contact-form .text-field::-moz-placeholder {
  font-weight: 500;
  color: var(--TINTED-WHITE-GREY);
}
.contact-form .text-field:-ms-input-placeholder {
  font-weight: 500;
  color: var(--TINTED-WHITE-GREY);
}
.contact-form .text-field::placeholder {
  font-weight: 500;
  color: var(--TINTED-WHITE-GREY);
}
.contact-form .form-submit-box {
  height: 4.4rem;
}
.contact-form .form-submit-box .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  border: none;
  border-radius: 1rem;
  gap: 0.5rem;
  background-color: var(--BLUE);
  color: var(--PURE-WHITE);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.1s;
}
.contact-form .form-submit-box .submit-button:active {
  transform: translateY(0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.contact-form .form-submit-box .submitted-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  border: none;
  border-radius: 1rem;
  gap: 0.5rem;
  background-color: var(--BLUE);
  color: var(--PURE-WHITE);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.1s;
}/*# sourceMappingURL=contact.css.map */