.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #1c7ed6;
    
    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-right: 30px;

        .bar1, .bar2, .bar3 {
            border-radius: 10px;
            background-color: #1c7ed6;
            width: 34px;
            height: 4px;
            margin: 2px 0;
        }
    }

    .brand {
        display: flex;
        align-items: center;
        padding-left: 100px;
        font-weight: 500;
        font-size: 24px;
        color: #868e96 !important;
        text-transform: uppercase;
        letter-spacing: -1px;

        .brand-icon {
            width: 36px;
            height: 36px;
            margin: 0 10px;
        }
    }

    .nav-ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 100px;
        height: 100%;
        
        li {
            display: flex;
            align-items: center;
            color: #868e96;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0 25px;
            height: 100%;
            border-top: 2px solid rgba(255, 255, 255, 0.0);
            transition: 300ms;
            
            &:hover {
                cursor: pointer;
                color: #495057;
                border-top: 2px solid #1c7ed6;
                background-color: rgba(28, 126, 214, 0.1);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar {

        .brand {
            padding-left: 20px;
            font-size: 16px;
        }

        .mobile-menu {
            display: flex;

            &:hover {
                cursor: pointer;
            }
        }

        .nav-ul {
            display: none;
        }
    }
}