.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #1c7ed6;
    z-index: 100;
    
    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100px;
        padding-right: 10px;

        .bar1, .bar2, .bar3 {
            border-radius: 10px;
            background-color: #1c7ed6;
            width: 34px;
            height: 4px;
            margin: 2px 0;
            transition: 300ms;
        }

        .bar1.active {
            transform: translate(0, 8px) rotate(315deg);
        }

        .bar2.active {
            transform: translate(0, 0) rotate(360deg);
            background-color: transparent;
        }

        .bar3.active {
            transform: translate(0, -8px) rotate(-315deg);
        }
    }

    .mobile-dropdown {
        transition: 200ms;
        display: none;
        position: absolute;
        right: -1000px;
        top: 60px;
        height: 200px;
        width: 100vw;
        background: #4973ff;
        transition: .5s;
        overflow: hidden;
        box-shadow: none;

        &::before, &::after {
            content: '';
            width: 786px;
            height: 786px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
            background: #fff;
            z-index: 10;
        }

        &::before {
            border-radius: 45%;
            background: rgba(20, 20, 20, 1);
            animation: animate 5s linear infinite;
        }

        &::after {
            border-radius: 40%;
            background: rgba(20, 20, 20, .5);
            animation: animate 10s linear infinite;
        }

        .mobile-ul {
            display: flex;
            flex-direction: column;
            color: #dee2e6;
            z-index: 100;
            width: 100vw;
            align-items: center;
            list-style: none;
            justify-content: space-around;

            li {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                cursor: pointer;
            }
        }
    }

    .mobile-dropdown.active {
        right: 0;
        top: 60px;
        transition: 200ms;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
        z-index: 10;
    }

    .brand {
        display: flex;
        align-items: center;
        padding-left: 100px;
        font-weight: 500;
        font-size: 24px;
        color: #868e96 !important;
        text-transform: uppercase;
        letter-spacing: -1px;

        .brand-icon {
            width: 36px;
            height: 36px;
            margin: 0 10px;
        }
    }

    .nav-ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 100px;
        height: 100%;
        
        li {
            display: flex;
            align-items: center;
            color: #868e96;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0 25px;
            height: 100%;
            border-top: 2px solid rgba(255, 255, 255, 0.0);
            transition: 300ms;
            
            &:hover {
                cursor: pointer;
                color: #495057;
                border-top: 2px solid #1c7ed6;
                background-color: rgba(28, 126, 214, 0.1);
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .navbar {

        .brand {
            padding-left: 20px;
            font-size: 16px;
        }

        .mobile-menu {
            display: flex;

            &:hover {
                cursor: pointer;
            }
        }

        .mobile-dropdown {
            display: flex;
        }

        .nav-ul {
            display: none;
        }
    }
}

