body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header-container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./stars-bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 20px;
  z-index: 1000;
}

.menu:hover{
  cursor: pointer;
}
      .one, .two, .three {
        transition: 300ms;
        width: 50px;
        height: 6px;
        margin-bottom: 8px;
        background-color: aqua;
        border-radius: 20px;
        box-shadow: 0 0 5px aqua;
      }

.one.active {
  transform: translate(0, 14px) rotate(45deg);
}

.two.active {
  background-color: transparent;
  box-shadow: none;
  transform: translateX(-55px);
}

.three.active {
  transform: translate(0, -14px) rotate(-45deg);
}

.menu-container {
  display: none;
  position: fixed;
  z-index: 900;
  top: -100%;
  background-color: black;
  height: 100vh;
  width: 100vw;
  transition: 300ms;
  color: red;
  box-shadow: inset 0 0 15px aqua;
}

.menu-container.active {
  display: flex;
  top: 60px;
}

.menu-container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.menu-container ul a {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.navlink {
  color: #ececec;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 5px #ececec;
}


/* tests */
#section1 {
  height: 100vh;
}
