body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 50px;
}

.menu:hover{
  cursor: pointer;
}
      .one, .two, .three {
        transition: 300ms;
        width: 50px;
        height: 6px;
        margin-bottom: 8px;
        background-color: aqua;
        border-radius: 20px;
      }

.one.active {
  transform: translate(0, 14px) rotate(45deg);
}

.two.active {
  background-color: transparent;
  transform: translateX(-55px);
}

.three.active {
  transform: translate(0, -14px) rotate(-45deg);
}

