* {
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #cecece;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clip-path-left {
  display: flex;
  height: 100px;
  width: 100%;
  margin-top: -1px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  left: -1px;
  background-color: #0f1314;
}

#contact {
  background-color: #cecece;
  height: 100vh;
}

h1.title {
  display: flex;
  justify-content: left;
  align-items: center;
  color: aqua;
  text-shadow: 0 0 5px aqua;
  font-size: 2.5rem;
}

#header {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./stars-bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 120px;
  width: 90%;
  height: 400px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  border-radius: 20px;
}

.header-content-left {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  /* align-items: left; */
}
    .header-content-left h1 {
      margin: 0;
    }

    .header-content-left p {
      display: flex;
      margin: .5rem 0 .8rem 0;
      text-transform: uppercase;
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

.header-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5em;
  color: white;
  position: relative;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
}
    .header-content-right p {
      font-size: 1.25rem;
      margin-block-start: 1em;
      margin-block-end: 1em;
      text-align: center;
    }

    .header-content-right a {
      margin-bottom: 1em;
    }

    .header-content-right button {
      margin: 0 auto;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid aqua;
      border-radius: 10px;
      color: white;
      padding: 10px;
      font-size: 1.1rem;
      width: 300px;
      transition: 600ms;
    }
        .header-content-right button:hover {
          background-color: rgba(0, 255, 255, 0.4);
        }


.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 20px;
  z-index: 1000;
}

.menu:hover{
  cursor: pointer;
}
      .one, .two, .three {
        transition: 300ms;
        width: 45px;
        height: 3px;
        margin-bottom: 8px;
        background-color: aqua;
        border-radius: 20px;
        box-shadow: 0 0 5px aqua;
      }

.one.active {
  transform: translate(0, 14px) rotate(45deg);
}

.two.active {
  background-color: transparent;
  box-shadow: none;
  transform: translateX(-55px);
}

.three.active {
  transform: translate(0, -8px) rotate(-45deg);
}

.menu-container {
  display: none;
  position: fixed;
  z-index: 900;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 450px;
  width: 100vw;
  transition: 300ms;
  color: red;
  box-shadow: 0 0 15px aqua;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 60% 100%, 40% 100%, 0% 60%, 0 0);
}

.menu-container.active {
  top: 55px;
}

.menu-container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 120px;
  padding: 0;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.menu-container ul a {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.navlink {
  color: #ececec;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 5px #ececec;
}

.spacer {
  color: white;
  text-shadow: 0 0 5px #ececec;
  font-size: 28px;
}

.title-spacer {
  color: white;
  text-shadow: 0 0 5px #ececec;
  font-size: 2.5rem;
}

h1.title span {
  font-size: 3rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {

  h1.title {
    font-size: 2rem;
  }

  h1.title span {
    font-size: 2.5rem;
  }

  .header-content, .header-content-left, .header-content-right {
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }

  .header-content-left p {
    text-align: center;
  }

  .header-content-right {
    width: 100%;
  }
}
